:root {
    --primary-text-color-blue: #00AFDA;
    --primary-text-color-orange: #FF8C0D;
    --white-text-color: #FFFFFF;
    --text-color: #000000;
}


.btn {
    display: flex;
    width: 231px;
    height: 50px;
    background-color: var(--primary-text-color-orange);
    border-radius: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--white-text-color);
    font-weight: 700;
    transition: all 0.3s linear;
}

.btn, .btn-more:hover{
    cursor: pointer;
}

.btn-more {
    display: flex;
    width: 256px;
    height: 33px;
    background-color: var(--primary-text-color-blue);
    border-radius: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--white-text-color);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.box{
    margin: 0 9%;
}
.border-blue {
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid var(--primary-text-color-blue);
    width: 40px;
}

/* phan trang(pagination) */
.pagination {
    padding: 24px 0;
}

.padding-btn {
padding-bottom: 12px
}

.pagination-product {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.pagination-item {
    margin: 5px;
}

.pagination-item-active .pagination-item-link {
    color: var(--primary-text-color-blue);
    border: 1px solid var(--primary-text-color-blue);
}

.pagination-item-link {
    width: 30px;
    font-size: 15px;
    display: block;
    color: #333;
    text-align: center;
}





