/* header */
.header {
    width: 100%;
}

.top-header {
    padding: 1rem 0;
    height: var(--header-height);
    display: flex;
}

.top-header .header-logo {
    margin-left: 24px;
    object-fit: cover;
}

.top-header .header-title {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 800;
    line-height: 34px;
    text-align: center;
    color: var(--primary-text-color-blue);
}

.header-wrap {
    position: relative;
    background-color: var(--primary-text-color-blue);
    width: 100%;
}



.header-wrap .menu {
    height: 60px;
}

.header .menu {
    display: flex;
    height: 6rem;
    width: 100%;
    background-color: var(--primary-text-color-blue);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.fa-home {
    color: var(--white-text-color);
}

.header .menu ul {
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.header .menu ul li a{
    font-size: 18px;
    font-weight: 700;
    color: var(--white-text-color);
}

.banner img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* register */

.section-visao-wrap {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-weight: 700;
}

.section-visao-wrap .visao {
    width: 100%;
    text-align: center;
    color: var(--primary-text-color-blue);
}

.section-visao-wrap .visao h1 {
    font-size: 60px;
    margin-bottom: 15px;
}

.section-visao-wrap .visao span {
    font-size: 18px;
}

.box-register-title h1{
    margin-top: 42px;
    color: var(--primary-text-color-orange);
    display: flex;
    justify-content: center;
    font-size: 26px;
    font-weight: 700;
}
.box-register-desc p{
    display: flex;
    margin-top: 9px;
    justify-content: center;
    text-align: center;
}

.box-register-uudai {
    display: flex;
    margin-top: 56px;
    justify-content: space-between;
}

.box-uudai:nth-of-type(3) {
    width: 247px;
}

.box-register-uudai p{
    color: var(--primary-text-color-orange);
    font-weight: 700;
    margin-top: 19px;
    text-align: center;
}

.btn-register {
    display: flex;
    justify-content: center;
    margin-top: 47px;   
    margin-bottom: 50px;
}

.btn-register .btn {
    font-size: 20px;
}

/* chuyen nganh */

.box-chuyennganh-title {
    width: 100%;
    height: 100px;
    background-color: var(--primary-text-color-blue);
    display: flex;
    text-align: center;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}

.box-chuyennganh-title h1{
    color: var(--white-text-color);
    font-weight: 700;
}

.nganh-wrap {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-evenly;
}

.nganh {    
    width: 262.46px;
    margin-right: 30px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 20%)
}

.nganh-title{
    
    background-color: #F4F4F4;
    height: 67px;
    padding: 12px 24px;
    text-align: center;
}

.nganh-title h3{
    color: var(--primary-text-color-blue);
    font-size: 18px;
}

.nganh-img {
    margin-bottom: 12px;
}

.nganh ul{
    margin-left: 42px;
    margin-bottom: 18px;
}

/* thong tin tuyen sinh */

.TTTS {
    height: 100%;
    width: 100%;
    background-color: var(--primary-text-color-orange);
}

.TTTS-title {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.TTTS-title h1{
    margin-top: 20px 0;
    font-size: 30px;
    color: var(--white-text-color);
    font-weight: 700;
}

.TTTS-desc {
    display: flex;
    text-align: center;
    justify-content: center;
}

.TTTS-desc p{
    color: var(--white-text-color);
    font-size: 16px;
    margin-top: 20px;
}
.TTTS-img {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}
/* xet tuyen */

.box-xettuyen {
    width: 100%;
    height: 100%;
    background-color: #E0F8FF;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 168px;
}

.box-xettuyen-title {
    margin-top: 20px;
}

.box-xettuyen-title h1{
    color: var(--primary-text-color-blue);
    font-size: 30px;
    font-weight: 700;
}

.box-xettuyen-desc {
    margin-top: 20px;
}

.box-xettuyen-desc p{
    font-size: 16px;

}

.form-register {
    width: 550px;
    height: 600px;
    background-color: var(--primary-text-color-blue);
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
}

.form-register-titlle {
    padding: 23px;
}

.form-register-titlle h3{
    font-size: 30px;
    font-weight: 700;
    color: var(--white-text-color);
}

.form-register-input {    
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 12px;
}

.input-style {
    padding: 10px;
    border: none;    
    border-radius: 2px;
    width: 100%;
}

.input-style-last {
    margin-bottom: 78px;
}

.form-register .btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1px solid var(--white-text-color);
}

/* review */

.box-review {
    width: 100%;
    height: 100%;
    background-color: var(--primary-text-color-blue);
}

.box-review-wrap{
    text-align: center;
}

.box-review-title {
    padding-top: 23px;
}

.box-review-title h4{
    color: var(--white-text-color);
    font-weight: 700;
    font-size: 30px;
}

.box-review-desc {
    padding: 23px 0;

}

.box-review-desc p{
    color: var(--white-text-color);
    font-size: 16px;
    font-weight: 400;
}

.videoandphotos {
    display: flex;
    gap: 25px;
    justify-content: center;

}

.video-title {
    margin: 6px 0;
}

.video-title h6{
    font-size: 18px;
    color: var(--white-text-color);
}

/* .libphotos-title {
    margin: 6px 0;
} */

.libphotos-title h6{
    padding-left: 20px;
    font-size: 18px;
    color: var(--white-text-color);
}

.video-img {
    position: relative;
    
}



.ytb-title {
    position: absolute;
    font-weight: 600;
    width: 100%;
    top: 0;
    left: 0;
    padding: 12px 16px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}

.ytb-title h5{
    font-size: 18px;
    color: var(--white-text-color);
}

.icon-ytb {
    top: 40%;
    left: 45%;
    font-size: 70px;
    position: absolute;
    opacity: 0.6;
    margin: auto;;
}

.libphotos-image-wrap {
    width: 650px;
    display: flex;
    flex-wrap: wrap;
}

.libphotos-image {
        margin: 10px;
}

.xemthem-wrap{
    
    text-align: right;
    margin-right: 84px;
}

.xemthem-wrap a{
    font-weight: 700;
    font-size: 12px;
    text-decoration: none;
    color: var(--white-text-color);
}
/* location */

.location{
    width: 100%;
    height: 100%;
}

.location-title {
    margin-top: 26px;
}

.location-title h2{
    font-size: 30px;
    color: var(--primary-text-color-blue);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.location-desc {
    margin-top: 20px;
}

.location-desc p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.location-adress-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 40px;
}

.location-adress{
    width: 358px;
    border-bottom: 0.5px solid var(--primary-text-color-blue);
    box-shadow: 0 5px 15px rgb(0 0 0 / 30%);
}

.text-location p{
    padding: 10px 12px;
    font-size: 16px;
    font-weight: 700;
}

/* footer */

.footer {
    margin-top:  50px;
    width: 100%;
    height: 130px;
    background-color: var(--primary-text-color-blue);
}

.footer-contact {
    display: flex;
    padding: 2% 6%;
    align-items: center;
    justify-content: space-between;
}

.footer-contact-phone p{
    color: var(--white-text-color);
}

.footer-contact-social {
    display: flex;
}


.contact-social-icon {
    border: 1.5px solid var(--white-text-color);
    border-radius: 50%;
    margin-left: 15px;
}

.contact-social-icon i{
    margin: 8px;
    font-size: 18px;
    color: var(--white-text-color);

}

.footer-bottom-connect ul{
    display: flex;
    justify-content: right;
    padding: 0 6%;
    list-style: none;
}

.footer-bottom-connect li a{
    font-size: 12px;
    color: var(--white-text-color);
    margin-left: 15px;
}

/* ------Trang chủ / Thông báo tuyển sinh  */

/* breadcrumb */


.breadcrumb {
    display: flex;
    padding: 4px;   
    border-bottom: 1px solid #E5E9EC;
}

.italics {
    padding: 0 7px;
}

.home-page p{
    
    color: var(--primary-text-color-blue);
}
/* body */


.body-wrap {
    display: flex;
    justify-content: space-between;
    gap: 43px;
    padding: 38px 0;
}

.notify-admissions {
    flex: 1;
}

.notify-admissions-title-wrap {
    position: relative;
}

.content-wrap {
    display: flex;
    padding: 20px 20px 20px 0;

}

.content-right {
    padding-left: 22px;
    line-height: 24px;
}

.content-right-title h4{
    font-size: 14px;
    font-weight: 700;
}

.content-right-date p{
    font-size: 13px;

    color: #888888;
}

.content-right-text p{
    font-size: 14px;
    color: #333333;
}

.news {
    height: 100%;
    width: 300px;
}

.new-title-wrap {
    position: relative;
}

.new-title {
    border-bottom: 1px solid #E5E9EC;
}

.notify-admissions-title {
    border-bottom: 1px solid #E5E9EC;
}




