/* ------------------------ */

.header.container{
    margin-left: 9%;
    margin-right: 9%;
}

.header-logo img{
    max-width: 103px;
    max-height: 80px;
}

.header .header-title h3{
    font-size: 24px;
    color: var(--primary-text-color-blue);
    line-height: 34px;
    font-weight: 800;
}

.navbar-wrap {
    height: 60px;
    background-color: var(--primary-text-color-blue);
}

.navbar-wrap ul {
    height: 100%;
    align-items: center;
}

.navbar-wrap ul li a{
    font-size: 15px;
    color: var(--white-text-color);
    font-weight: 700;
    line-height: 24px;
}

.navbar.navbar-light.bg-nav {
    background-color: var(--primary-text-color-blue);
}

button.navbar-toggler{
    padding: 2px 6px;
}

.navbar-nav .nav-item {
    border-bottom: 1px solid rgb(0 0 0 / 10%);
}

.banner img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.box-thongso {
    /* display: flex;
    justify-content: space-between; */
    align-items: center;
    padding: 20px 0;
}

.thongso-content {
    margin: 0;
    text-align: center;
}

.thongso-content h3{
    font-size: 60px;
    color: var(--primary-text-color-blue);
    font-weight: 700;
}

.thongso-content p {
    font-size: 18px;
    font-weight: 700;
    color: var(--primary-text-color-blue);
    margin-bottom: 10px;
}

.row-title h3{
    font-size: 26px;
    color: var(--primary-text-color-orange);
    font-weight: 700;
    text-align: center;
}

.row-desc p{
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
}

.riview-list-item  {
    text-align: center;
}
.riview-list-item img{
    max-width: 247px;
    padding: 15px 0;
}

.riview-list-item p{
    font-size: 18px;
    color: var(--primary-text-color-orange);
    font-weight: 700;
}

.top-chuyennganh {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-text-color-blue);
    margin-bottom: 15px;
}

.title-chuyennganh {
    font-size: 30px;
    font-weight: 700;
    color: var(--white-text-color);
    text-align: center;
    margin: 0;
}

.chuyennganh-title {
    height: 60px;
    background-color: var(--primary-text-color-blue);
}

.chuyennganhtitle h3{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: var(--white-text-color);
    align-items: center;
    margin: 0;
}

.row.chuyennganh-title {
    align-items: center;
    height: 100%;
}

.img-card {
    max-width: 262.46px;
}

.card-chuyennganh {
    margin-top: 28px;
}

.card.card-chuyennganh {
    max-width: 262.46px;
}

.card-body.card-body-chuyennganh {
    padding: 0;
}

.card-body-chuyennganh {
    padding: 0;
    box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 20%);
    border-bottom: 1px solid var(--primary-text-color-blue);
}
.card.card-chuyennganh {
    border: none;
    
}
.card-body-chuyennganh .card-title {
    padding: 5px 10px;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    color: var(--primary-text-color-blue);
    background-color: #F4F4F4;
    margin: 0;
    min-height: 60px;
}

.card-img-bottom {
    margin-bottom: 10px;
}

.card-body-chuyennganh ul li{
    line-height: 24px;
}


.TTTS {
    height: 100%;
    width: 100%;
    background-color: var(--primary-text-color-orange);
    margin-top: 50px;
}

.TTTS-title {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
    align-items: center;
}

.TTTS-title h1{
    font-size: 30px;
    color: var(--white-text-color);
    font-weight: 700;
}

.TTTS-desc {
    text-align: center;
}

.TTTS-desc p{
    color: var(--white-text-color);
    font-size: 16px;
    margin-top: 20px;
}
.TTTS-img {
    text-align: center;
    padding: 50px 0;
}

.TTTS-img img{
    object-fit: cover;
}

.btn.btn-primary {
    background-color: var(--primary-text-color-orange);
    border: none;
    border-radius: 5px;
}

.form-register {
    max-width: 550px;
    max-height: 600px;
    background-color: var(--primary-text-color-blue);
    border-radius: 5px;
    margin-top: 20px;
    margin: 20px auto 0;
    padding: 20px;
}

.input-style {
    padding: 10px;
    border: none;    
    border-radius: 2px;
    width: 100%;
    font-size: 14px;
}

.btn.btn-primary.hvr-pop {
    margin-top: 12px;
}

.hvr-pop p{
    margin: 0;
}

.box-xettuyen {
    width: 100%;
    height: 100%;
    background-color: #E0F8FF;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 100px;
}

.box-xettuyen {
    width: 100%;
    height: 100%;
    background-color: #E0F8FF;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 100px;
}

.box-xettuyen-title {
    margin-top: 20px;
}

.box-xettuyen-title h1{
    color: var(--primary-text-color-blue);
    font-size: 30px;
    font-weight: 700;
}

.box-xettuyen-desc {
    margin-top: 20px;
}

.box-xettuyen-desc p{
    font-size: 16px;

}

.form-register {
    max-width: 550px;
    max-height: 600px;
    background-color: var(--primary-text-color-blue);
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
}

.form-register-titlle {
    padding: 23px;
}

.form-register-titlle h3{
    font-size: 30px;
    font-weight: 700;
    color: var(--white-text-color);
}

.form-register-input {    
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 12px;
}

.gallery {
    width: 100%;
    height: 100%;
    background-color: var(--primary-text-color-blue);
    padding: 0 9%;
}

.gallery .box {
    padding: 0;
}

.gallery-title h3 {
    font-size: 30px;
    font-weight: 700;
    color: var(--white-text-color);
    line-height: 40.85px;
    text-align: center;
    padding-top: 30px;
}

.gallery-desc p{
    font-size: 18px;
    color: var(--white-text-color);
    text-align: center;
    padding-top: 15px;
}

.gallery-name-product p{
    font-size: 18px;
    font-weight: 700;
    color: var(--white-text-color);
}

.gallery-content {
    position: relative;
}

.gallery-content img {
    width: 100%;
}


.gallery-content-title{
    font-size: 18px;
    position: absolute;
    color: var(--white-text-color);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    top: 0;
    left: 0;
    width: 100%;
    padding: 12px;
}

.logo-ytb {
    position: absolute;
    top: 40%;
    left: 45%;
}

.logo-ytb i{
    font-size: 70px;
    opacity: 0.7;
}


.row .gallery-name-product-img {
    text-align: center;
}

.gallery-name-product-img img{
    max-width: 100%;    
    margin-bottom: 24px;
}

.gallery-name-product.row{
    width: 100%;
}

.gallery-product {
    padding-bottom: 15px;
}


.more.d-flex.justify-content-end a{
    font-size: 12px;
    margin: auto 0;
    color: var(--white-text-color);
    text-decoration: none;
}


.more i{
    margin: auto 0;
    color: var(--white-text-color);
    padding-left: 5px;
}

.location{
    width: 100%;
    height: 100%;
}

.location-title {
    margin-top: 26px;
}

.location-title h2{
    font-size: 30px;
    color: var(--primary-text-color-blue);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.location-desc {
    margin-top: 20px;
}

.location-desc p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.location-adress-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 40px;
}

.location-adress{
    width: 358px;
    border-bottom: 0.5px solid var(--primary-text-color-blue);
    box-shadow: 0 5px 15px rgb(0 0 0 / 30%);
}

.text-location p{
    padding: 10px 12px;
    font-size: 16px;
    font-weight: 700;
}

.footer {
    margin-top:  50px;
    width: 100%;
    background-color: var(--primary-text-color-blue);
}

.contact-social-icon {
    border: 1.5px solid var(--white-text-color);
    border-radius: 100%;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 34px;
    height: 34px;
}

.contact-social-icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-social-icon .icon-fb{
    width: 18.47px;
    height: 18.47px;
}

.contact-social-icon .icon-youtube{
    width: 18.13px;
    height: 15.83px;
}

.contact-social-icon .icon-twitter{
    width: 22.57px;
    height: 18.47px;
}

.contact-social-icon .icon-zalo{
    width: 24.89px;
    height: 10px;
}

.footer-contact-social {
    display: flex;
    justify-content: end;
    align-items: center;
}

.contact-full {
    padding: 12px 0;
}

.contact-full p{
    margin: 0;
    color: var(--white-text-color);
    font-size: 20px;
}

.contact-full p span{
    font-weight: 700;
}

.footer-contact-social {
    padding: 0;
}

.footer-bot-list {
    list-style: none;
}



.footer-bot-list li a{
    text-decoration: none;
    color: var(--white-text-color);
    font-size: 12px;
    padding-left: 20px;
}

.footer-bot .justify-content-sm-conter {
    margin: 0;
    justify-content: center;
}

/* ------------------------------------------------- */



.btn-register {
    display: flex;
    justify-content: center;
    margin-top: 47px;   
    margin-bottom: 50px;
}



.btn-register .btn {
    font-size: 20px;
}



.form-register .btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1px solid var(--white-text-color);
}

/* review */

.box-review {
    width: 100%;
    height: 100%;
    background-color: var(--primary-text-color-blue);
}

.box-review-wrap{
    text-align: center;
}

.box-review-title {
    padding-top: 23px;
}

.box-review-title h4{
    color: var(--white-text-color);
    font-weight: 700;
    font-size: 30px;
}

.box-review-desc {
    padding: 23px 0;

}

.box-review-desc p{
    color: var(--white-text-color);
    font-size: 16px;
    font-weight: 400;
}

.videoandphotos {
    display: flex;
    gap: 25px;
    justify-content: center;

}

.video-title {
    margin: 6px 0;
}

.video-title h6{
    font-size: 18px;
    color: var(--white-text-color);
}

/* .libphotos-index-title {
    margin: 6px 0;
} */

.libphotos-index-title h6{
    padding-left: 20px;
    font-size: 18px;
    color: var(--white-text-color);
}

.video-img {
    position: relative;
    
}



.ytb-title {
    position: absolute;
    font-weight: 600;
    width: 100%;
    top: 0;
    left: 0;
    padding: 12px 16px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}

.ytb-title h5{
    font-size: 18px;
    color: var(--white-text-color);
}

.icon-ytb {
    top: 40%;
    left: 45%;
    font-size: 70px;
    position: absolute;
    opacity: 0.6;
    margin: auto;;
}

.libphotos-index-image-wrap {
    width: 650px;
    display: flex;
    flex-wrap: wrap;
}

.libphotos-index-image {
        margin: 10px;
}

.xemthem-wrap{
    
    text-align: right;
    margin-right: 84px;
}

.xemthem-wrap a{
    font-weight: 700;
    font-size: 12px;
    text-decoration: none;
    color: var(--white-text-color);
}
/* location */








/* ------Trang chủ / Thông báo tuyển sinh  */

/* breadcrumb */


.breadcrumb {
    display: flex;
    font-size: 12px;
    padding: 8px 4px 4px;
    border-bottom: 1px solid #E5E9EC;
}

.italics {
    padding: 0 7px;
}

.home-page p{
    
    color: var(--primary-text-color-blue);
}
/* body */


.body-wrap {
    display: flex;
    justify-content: space-between;
    padding: 38px 0;
    position: relative;
    line-height: 24px;
}

.notify-admissions {
    /* flex: 1; */
    max-width: 70%;
}

.notify-admissions-title-wrap {
    position: relative;
}

.content-wrap {
    display: flex;
    padding: 20px 20px 20px 0;
    border-bottom: 1px dashed #DFE5EC;
}

.content-img img{
    width: 183px;
    height: 122px;
}

.content-right {
    padding-left: 22px;
    line-height: 24px;

}

.content-right-title h4{
    font-size: 16px;
    font-weight: 700;
}

.content-right-date {
    display: flex;
}

.content-right-date img{
    margin-left: 5px;
    object-fit: none;
}

.content-right-date p{
    font-size: 13px;

    color: #888888;
}

.content-right-text p{
    font-size: 14px;
    color: #333333;
}

.news {
    height: auto;
    width: 300px;
    position: absolute;
    right: 0;
    border: 1px solid #E5E9EC;
    border-radius: 15px;
    top: 22px;
}

.new-wrap {
    margin: 15px 21px;
}

.new-title-wrap {
    position: relative;
}

.new-title {
    border-bottom: 1px solid #E5E9EC;
}

.new-title h3{
    font-size: 16px;
}

.notify-admissions-title {
    border-bottom: 1px solid #E5E9EC;
}

.new-img-top {
    width: 258px;
    margin-top: 20px;
    height: 173px;
}

.new-img-top img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.new-top-title {
    padding: 13px 0;
    /* display: flex; */
    position: relative;
}

.new-top-title h4{
    font-size: 14px;
}

.new-top-title img{
    object-fit: none;
    position: absolute;
    top: 63%;
    left: 42%;
    height: 24px;
    width: 33px;
}

.new-top-title  span{
    font-size: 12px;
    color: #666;
    font-weight: 400;
}

.new-content-wrap .new-content:last-child {
    padding-bottom: 32px;
}

.new-content {
    margin: 12px 0;
    border-top: 1px dashed #DFE5EC;
}

.new-content p{
    font-size: 14px;
}

.new-content span{
    font-size: 12px;
    color: #666;
}

.new-content img{
    object-fit: none;
    height: 24px;
    width: 33px;
}

/*------ blog page */

.box-blog {
    max-width: 70%;
}

.box-blog-title {
    padding-bottom: 8px;
    border-bottom: 1px dashed #DFE5EC;
}

.box-blog-title h2{
    font-size: 26px;
    font-weight: 700;
    line-height: 1.5;
}

.box-blog-title p{
        font-size: 12px;
        font-weight: 700;
        color: var(--primary-text-color-blue);
}

.box-blog-content .content-text{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.box-blog-content-img-main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-blog-content img{
    width: 506px;
    height: 339px;
}

.libphotos {
    padding: 38px 0;
}

.libphotos-title {
    margin-bottom: 35px;
}

.libphotos-contents {
    display: flex;
    flex-wrap: wrap;
    gap: 31px;
    justify-content: center;
}

.libphotos .libphotos-contents .libphotos-product {
    flex: 0 1 359px;
}

.libphotos-product p{
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    max-width: 359px;
}

.libphotos-product span{
    color: #999999;
}

.libphotos-product-img img{
    width: 359px;
    height: 200px;
}


.libphotos-product-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.libphotos-product-img-icon {
    position: absolute;
}

.libphotos-product-img-icon i{
    color: #000000;
    font-size: 75px;
    opacity: 0.65;
}


.libphotos .pagination .pagination-product:last-child{
    padding-bottom: 50px;
}



/* tesst */

/* .btn:hover{
    transform: scale(1.1);
} */


